
body {
  background-color: #3498db;
  color: #fff; 
  font-family: "Montserrat", sans-serif;
}

.container {
  border:2px solid black;
  width:600px;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); 
  padding:25px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #000;
  animation: fadeIn 1s;
}

.form-group {
  margin: 10px 0;
}

.btn {
  background-color: #2980b9;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin:5px;
}

.btn:hover {
  background-color:orange;
  color:#000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
